body{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

a{
    text-decoration: none;
}

input{
    background-color: rgb(64, 64, 64);
    color: white;
    width: 35%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: medium;
}

button{
    padding-block: 5px;
    width: 100px;
    background-color: white;
    font-size: medium;
    border: 1px solid black;
    border-radius: 7px;

    a{
        color: rgb(64, 64, 64);
        font-weight: 600;
    }
}

button:hover{
    scale: 1.1;
    transition: 150ms ease-in;
    background-color: rgb(64, 64, 64);
    a{
        color: white;
    }
    
}

.body{
    width: 100%;
}

.forgot-password{
    color: rgb(64, 64, 64);
}

.create-account{
    color: rgb(64, 64, 64);
    text-decoration: underline;
}


@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(180deg);
        border-radius: 50%;
    }

    50% {
        transform: rotateY(360deg);
        border-radius: 7px;
    }

    75% {
        transform: rotateY(180deg);
        border-radius: 50%;
    }

    100% {
        transform: rotateY(0deg);
        border-radius: 7px;
    }
}